.promo{
	background-image: url(../../../../public/img/promo_bg.jpg);
	background-size: cover;
	text-align: center;
	height: 640px;
	.container{
		padding: 110px 0 200px 0 ;
		h1{
			font-weight: 700;
			font-size: 40px;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			padding-bottom: 20px;
		}
		.info{
			padding-top: 34px;
			h2{
				font-weight: 700;
				font-size: 24px;
				padding-bottom: 20px;
		}
		}
		.line-container{
			margin: 0 auto;
			display: flex;
			width: 200px;
			justify-content: space-between;
			align-items: center;
			.line{
				width: 60px;
			}
		}
	}

}