.market {
	padding: 60px 0 32px 0;
	font-size: 14px;
	.cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: -60px;
		.card {
			background-color: #ffffff;
			border-radius: 8px;
			box-sizing: border-box;
			box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
			width: 220px;
			padding: 22px 21px;
			margin-bottom: 60px;
			text-align: center;
			img{
				height: 130px;

				width: auto;
				padding-bottom: 14px;
			}
			h3{
				font-size: 14px;
				padding-bottom: 14px;
			}
			.country{
				font-size: 14px;
				text-align: right;
				padding-bottom: 14px;
			}
			.price{
				font-weight: 700;
				font-size: 14px;
				text-align: right;
			}
		}
	}
}
