.wrapper{
	max-width: 1150px;
	margin: 0 auto;
	padding-top: 52px;
	nav{
		ul{
			list-style-type: none;
			display: flex;
			position: relative;
			margin-left: 17px;
			&:first-child::before{
				content: url(../../../public/icons/coffee-beans.svg);
				position: absolute;
				top: -20px;
				left: 5px;
			}
			li{
				padding-right: 40px;
			}
		}
}
}