.header{
	// height: 260px;
	background-image: url(../../../public/img/header_bg.jpg);
	background-size: cover;
	text-align: center;
	h2{
		color: #ffffff;	
	   padding: 100px 0 83px 0;
		font-weight: 700;
      font-size: 40px;
	}
}