@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

.container{
	max-width: 800px;
	margin: 0 auto;
}

.App{
  color: #000000;
  font-family: 'Merienda', cursive;
}

a{
	color: #FFFFFF;
	text-decoration: none;
	&:hover{
		color: #FFFFFF;
		text-decoration: none;
	}

}

h1, h2, p, ul, li{
	margin: 0;
}