@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

.container{
	max-width: 800px;
	margin: 0 auto;
}

.App, ul, li, h1, h2, h3, p, input, div, button{
  color: #000000;
  font-family: 'Merienda', cursive;
  margin: 0;
}

a{
	color: #FFFFFF;
	text-decoration: none;
	&:hover{
		color: #FFFFFF;
		text-decoration: none;
	}

}
